main nav {
  position: fixed;
  left: 0;
  height: 80vh;
  bottom: 10vh;
  z-index: 1000;
  scale: 0.8;

  @media (min-width: 800px) {
    height: 20rem;
    aspect-ratio: 2 / 1;
    bottom: 5rem;
    left: calc(50% - 20rem);
  }

  h1 {
    opacity: 0;

    @media (min-width: 800px) {
      opacity: 1;
      position: absolute;
      z-index: 100;
      font-size: 0.8rem;
      background-color: rgb(145, 123, 99);
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      width: 10.8rem;
      left: calc(50% - 5.4rem);
      top: 3rem;

      @media (prefers-reduced-motion: no-preference) {
        transition: var(--transition-base);
      }
    }
  }

  form {
    @media (min-width: 800px) {
      height: 100%;
    }

    > div {
      height: 100%;

      > div {
        height: 100%;
        transition: var(--transition-base);

        /* klimaat controls */
        fieldset:first-of-type {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          @media (min-width: 800px) {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            justify-content: center;
            align-items: flex-end;
            background-color: var(--control-panel-bg-color);

            /* https://www.transparenttextures.com/wood-pattern.html */
            background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);

            height: 100%;
            width: 100%;
            transform: rotateX(10deg);
            perspective: 10rem;

            &::before {
              content: '';
              transform: rotateX(170deg);
              bottom: -1.7rem;
              width: 98.4%;
              position: absolute;
              height: 2rem;
              background-color: var(--control-panel-bg-color);
              filter: brightness(0.6);
              background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
            }
          }

          @media (prefers-reduced-motion: no-preference) {
            transition: var(--transition-slower);
          }

          label {
            cursor: pointer;
            position: relative;
            display: block;
            aspect-ratio: 1;
            width: 7rem;
            backdrop-filter: blur(5px) brightness(1.1);
            animation: donker-naar-licht;
            animation-timeline: scroll(root);
            animation-duration: auto;

            @media (prefers-reduced-motion: no-preference) {
              transition: var(--transition-slower);
            }

            @media (min-width: 800px) {
              animation: none;
              backdrop-filter: blur(0px) brightness(1);
            }

            &:hover {
              box-shadow: 0 0 0.25rem var(--sun-color);
              filter: drop-shadow(0 0 0.25rem var(--sun-color));

              &:has(input[value='regen']),
              &:has(input[value='bliksem']) {
                > div {
                  @media (prefers-reduced-motion: no-preference) {
                    animation-play-state: running;
                  }
                }
              }
            }

            &:has(input[value='regen']),
            &:has(input[value='bliksem']) {
              > div {
                position: absolute;
                width: 5rem;
                aspect-ratio: 3/1;
                background: var(--cloud-color);
                position: absolute;
                border-radius: 50%;
                left: 1.25rem;
                top: 2rem;
                scale: 0.9;
                transform-style: preserve-3d;
                animation: klein-wolkje-scale 1s infinite ease-in-out alternate
                  paused -0.5s;

                @media (prefers-reduced-motion: no-preference) {
                  transition: var(--transition-slower);
                }

                @media (min-width: 800px) {
                  display: none;
                }

                &::before,
                &::after {
                  aspect-ratio: 2/1;
                  position: absolute;
                  border-radius: 50%;

                  @media (prefers-reduced-motion: no-preference) {
                    transition: var(--transition-slower);
                  }
                }

                &::before {
                  content: '';
                  bottom: -2vh;
                  left: 0.625rem;
                  width: 2.5rem;
                  background: var(--cloud-color);
                  box-shadow:
                    -0.625rem -0.625rem 0 var(--cloud-color),
                    1.25rem -1.25rem 0 var(--cloud-color),
                    2rem -0.375rem 0 var(--cloud-color);
                }

                &::after {
                  content: '';
                  top: -0.625rem;
                  right: 0.625rem;
                  width: 3rem;
                  background: var(--cloud-color);
                  box-shadow:
                    1rem 1rem 0 var(--cloud-color),
                    -1.5rem -0.625rem 0 var(--cloud-color),
                    -2.5rem 0.375rem 0 var(--cloud-color);
                }
              }
            }

            &:has(input[value='regen']) {
            }

            &:has(input[value='bliksem']) {
              --cloud-color: var(--thunder-cloud-color);
            }

            &:has(input[value='ijskoud']) {
            }

            &:has(input[value='zonnig']) {
              > span {
                --center: calc(50% - 1.5rem);
                width: 3rem;
                aspect-ratio: 1;
                position: absolute;
                border-radius: 50%;
                background-color: var(--sun-color);
                left: var(--center);
                top: var(--center);
                transform-style: preserve-3d;

                @media (min-width: 800px) {
                  display: none;
                }

                &::before,
                &::after {
                  content: '';
                  width: 3rem;
                  aspect-ratio: 1;
                  border-radius: 50%;
                  position: absolute;
                  background-color: var(--sun-color);
                  opacity: 0.4;
                  transform: translateZ(-1rem);

                  @media (prefers-reduced-motion: no-preference) {
                    transition: var(--transition-base);
                  }
                }

                &::before {
                  scale: 1.3;
                }

                &::after {
                  scale: 1.5;
                }

                &:hover {
                  --zon-animatie-properties: 1s infinite alternate ease-in-out
                    paused;

                  &::before {
                    animation: zonnetje-inner-pulse
                      var(--zon-animatie-properties);
                  }

                  &::after {
                    animation: zonnetje-outer-pulse
                      var(--zon-animatie-properties);
                  }

                  @media (prefers-reduced-motion: no-preference) {
                    &::before,
                    &::after {
                      animation-play-state: running;
                    }
                  }
                }
              }
            }

            @media (min-width: 800px) {
              background-color: transparent;
              position: relative;
              background-color: black;
              border-radius: 1rem;
              outline: 2px solid grey;
              border: 2px solid rgb(78, 78, 78);
              width: 1rem;
              height: 8rem;
              transform: translateY(-1rem);
              perspective: 10rem;

              &:hover {
                opacity: 0.8;
              }

              &::before {
                content: '';
                position: absolute;
                width: 1.5rem;
                left: -0.4rem;
                height: 1.2rem;
                top: 0.5rem;
                transform: rotateX(10deg);
                background: linear-gradient(
                  var(--steampunk-button-primary-color) 0 50%,
                  var(--steampunk-button-secondary-color) 50% 100%
                );
                background-size: 10% 10%;
                outline: 2px solid var(--steampunk-button-primary-color);
                border-top: 2px solid var(--steampunk-button-primary-color);
                border-bottom: 1px solid var(--steampunk-button-primary-color);
                transition: var(--transition-base);
              }

              &::after {
                content: '';
                position: absolute;
                width: 1.75rem;
                height: 0.5rem;
                left: -0.52rem;
                top: 1.8rem;
                transform: rotateX(110deg);
                background-color: var(--steampunk-button-primary-color);
                filter: brightness(0.8);
                transition: var(--transition-base);
              }
            }
          }
        }
      }
    }

    @media (min-width: 800px) {
      > div > div:first-of-type {
        perspective: 20rem;
        height: 100%;
        width: 100%;

        @media (prefers-reduced-motion: no-preference) {
          transition: var(--transition-slower);
        }

        /* rainy */
        > div:first-of-type {
          position: absolute;
          width: 5rem;
          aspect-ratio: 1 / 1.7;
          background-color: var(--water-color);
          right: 2rem;
          bottom: 2rem;
          transform: rotateX(10deg);
          border: 7px solid var(--metal-color);

          &::before {
            content: '';
            position: absolute;
            background-color: var(--metal-color);
            filter: brightness(0.9);
            width: 5.1rem;
            height: 0.9rem;
            bottom: -1.35rem;
            left: -0.65rem;
            transform: skewX(-20deg);
          }

          &::after {
            content: '';
            position: absolute;
            background-color: var(--metal-color);
            filter: brightness(0.8);
            width: 0.4rem;
            top: 0.05rem;
            height: 8.4rem;
            left: -0.8rem;
            transform: skewY(-70deg);
          }

          > span {
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            filter: url(#blobby);

            /* bubblessss */
            span {
              background-color: var(--bubble-color);
              border-radius: 50%;
              position: absolute;
              aspect-ratio: 1;
              bottom: -1.3rem;

              &:first-of-type {
                width: 1rem;
                left: 2rem;
              }

              &:nth-of-type(2) {
                width: 1.2rem;
                left: 1rem;
              }

              &:nth-of-type(3) {
                width: 0.9rem;
                left: 3rem;
              }

              &:nth-of-type(4) {
                width: 1.3rem;
                left: 1rem;
              }

              &:nth-of-type(5) {
                width: 1rem;
                left: 0;
              }
            }
          }
        }

        /* donder en bliksem */
        > div:nth-of-type(2) {
          position: absolute;
          width: 6rem;
          aspect-ratio: 1;
          border-radius: 50%;
          background: radial-gradient(
            in okLCH,
            hsl(0, 0%, 80%, 0.5),
            hsla(0, 0%, 30%, 0.5)
          );

          top: 0;
          right: 5rem;

          @media (prefers-reduced-motion: no-preference) {
            transition: var(--transition-slower);
          }

          &::before,
          &::after {
            content: '';
            height: 5rem;
            position: absolute;
            width: 5rem;
            background: linear-gradient(
              90deg in okLCH,

              var(--metal-color) 23%,
              color-mix(in okLCH, var(--metal-color), white 40%) 23% 77%,
              var(--metal-color) 77%
            );
            position: absolute;
            width: 5.8rem;
            bottom: -1rem;
            left: 0.12rem;
          }

          &::before {
            clip-path: polygon(
              0 39%,
              0 71%,
              23% 100%,
              76% 100%,
              100% 69%,
              100% 37%,
              79% 59%,
              23% 59%
            );
          }

          &::after {
            clip-path: polygon(
              0 39%,
              0 71%,
              23% 100%,
              76% 100%,
              100% 69%,
              100% 37%,
              77% 13%,
              24% 14%
            );
            opacity: 0.1;
          }

          b {
            transform: scaleY(0);
            background-color: var(--electricity-color);
            width: 0.1rem;
            height: 30%;
            position: absolute;
            animation: elektriciteit-filter 0.5s infinite var(--delay);

            @media (prefers-reduced-motion: no-preference) {
              transition: var(--transition-slower);
            }

            &::before,
            &::after {
              position: absolute;
              width: 0.1rem;
              background-color: var(--electricity-color);
            }

            &::before {
              content: '';
              height: 80%;
              top: 90%;
              left: -0.3rem;
              rotate: 30deg;
            }

            &::after {
              content: '';
              height: 60%;
              top: -0.8rem;
              left: 0.5rem;
              rotate: 60deg;
            }

            &:first-of-type {
              --delay: 0.5s;
              top: 14%;
              left: 30%;
              rotate: 10deg;
            }

            &:nth-of-type(2) {
              --delay: 0s;

              top: 20%;
              left: 50%;
              rotate: 80deg;
            }

            &:nth-of-type(3) {
              --delay: 0.25s;
              top: 30%;
              left: 60%;
              rotate: 120deg;
            }

            &:nth-of-type(4) {
              --delay: 0.15s;
              top: 20%;
              left: 45%;
              rotate: -10deg;
            }

            &:nth-of-type(5) {
              --delay: 0.35s;
              top: 18%;
              left: 70%;
              rotate: 300deg;
            }
          }
        }

        /* ijskoud */
        > div:nth-of-type(3) {
        }

        /* zonnig */
        > div:nth-of-type(4) {
          position: absolute;
          width: 4rem;
          aspect-ratio: 1 / 3.25;
          border-radius: 2rem;
          top: 6rem;
          left: 2.5rem;
          border: 0.8rem solid var(--metal-color);
          transform: rotateX(10deg);

          > span:first-of-type {
            background: radial-gradient(in okLCH, white, gold);
            filter: grayscale(0.7) brightness(0.8);
            aspect-ratio: 1 / 2.75;
            position: absolute;
            border-radius: 30% 30% 50% 50%;
            width: 2.9rem;
            right: -0.1rem;
            top: 2.2rem;

            > span {
              content: '';
              width: 2.5rem;
              left: 0.15rem;
              height: 0.5rem;
              border-radius: 1rem;
              background-color: var(--metal-color);
              position: absolute;

              &:first-of-type {
                top: 0;
                filter: brightness(0.9);
              }

              &:nth-of-type(2) {
                top: -0.45rem;
                filter: brightness(0.8);
              }

              &:nth-of-type(3) {
                top: -0.9rem;
                filter: brightness(0.7);
              }

              &:nth-of-type(4) {
                top: -1.35rem;
                width: 2.2rem;
                left: 0.3rem;
                filter: brightness(0.6);
              }

              &:nth-of-type(5) {
                top: -1.8rem;
                width: 1.8rem;
                left: 0.5rem;
                filter: brightness(0.5);
              }
            }
          }

          /* metalen frame */

          > span:nth-of-type(2),
          > span:nth-of-type(2)::before,
          > span:nth-of-type(2)::after {
            background: radial-gradient(
              in okLCH,
              var(--metal-color),
              color-mix(in okLCH, var(--metal-color), black 40%)
            );
            position: absolute;
            width: 0.2rem;
            border-radius: 1rem;
          }

          > span:nth-of-type(2) {
            height: 108%;
            top: -1.8rem;
            left: 0.5rem;

            &::before {
              content: '';
              top: 0;
              left: 0.2rem;
              height: 1.6rem;
              transform: skewX(15deg);
            }

            &::after {
              content: '';
              height: 1.6rem;
              left: 0.2rem;
              transform: skewX(15deg);
              bottom: -1.5rem;
            }
          }

          > div {
            span:first-of-type,
            span:first-of-type::before,
            span:first-of-type::after,
            span:nth-of-type(2),
            span:nth-of-type(2)::before,
            span:nth-of-type(2)::after,
            span:nth-of-type(3),
            span:nth-of-type(3)::before,
            span:nth-of-type(3)::after,
            span:nth-of-type(4),
            span:nth-of-type(4)::before,
            span:nth-of-type(4)::after,
            span:nth-of-type(5),
            span:nth-of-type(5)::before,
            span:nth-of-type(5)::after {
              background: radial-gradient(
                in okLCH,
                var(--metal-color),
                color-mix(in okLCH, var(--metal-color), black 40%)
              );
              position: absolute;
              border-radius: 1rem;
            }

            span:first-of-type,
            span:nth-of-type(2),
            span:nth-of-type(3),
            span:nth-of-type(4),
            span:nth-of-type(5) {
              height: 0.2rem;
              width: 3.5rem;
              left: -0.8rem;
            }

            span:first-of-type {
              top: 1rem;
            }

            span:nth-of-type(2) {
              top: 3rem;
            }

            span:nth-of-type(3) {
              top: 5rem;
            }

            span:nth-of-type(4) {
              top: 7rem;
            }

            span:nth-of-type(5) {
              top: 9rem;
            }

            span:first-of-type::before,
            span:first-of-type::after,
            span:nth-of-type(2)::before,
            span:nth-of-type(2)::after,
            span:nth-of-type(3)::before,
            span:nth-of-type(3)::after,
            span:nth-of-type(4)::before,
            span:nth-of-type(4)::after,
            span:nth-of-type(5)::before,
            span:nth-of-type(5)::after {
              width: 0.2rem;
              height: 1rem;
              top: 0;
              transform: skewX(15deg);
            }

            span:first-of-type::before,
            span:nth-of-type(2)::before,
            span:nth-of-type(3)::before,
            span:nth-of-type(4)::before,
            span:nth-of-type(5)::before {
              content: '';
              left: 0.1rem;
            }

            span:first-of-type::after,
            span:nth-of-type(2)::after,
            span:nth-of-type(3)::after,
            span:nth-of-type(4)::after,
            span:nth-of-type(5)::after {
              content: '';
              right: -0.15rem;
            }
          }
        }
      }
    }

    > div > fieldset {
      width: 5rem;
      position: fixed;
      aspect-ratio: 1;
      left: 1.5rem;
      top: -5rem;
      background-color: rgba(0, 0, 0, var(--low-opacity));
      border-radius: 0.25rem;
      animation: donker-naar-licht;
      animation-timeline: scroll(root);
      animation-duration: auto;

      @media (prefers-reduced-motion: no-preference) {
        transition: var(--transition-base);
      }

      &:hover {
        --low-opacity: 0.3;
        transform: translateX(-0.5rem);
      }

      @media (min-width: 800px) {
        &:hover {
          transform: translateY(0.5rem);
        }
      }

      label {
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;

        @media (prefers-reduced-motion: no-preference) {
          transition: var(--transition-base);
        }

        @media (min-width: 800px) {
          rotate: -90deg;
        }

        &::before,
        &::after {
          background-color: black;
          border-radius: 1rem;
          width: 50%;
          height: 0.3rem;
          position: absolute;
          left: 1rem;
        }

        &::before {
          content: '';
          transform: rotate(-45deg);
          top: 1.55rem;
        }

        &::after {
          content: '';
          transform: rotate(45deg);
          bottom: 1.55rem;
        }
      }
    }
  }
}
