:root {
  --fish-primary-color: yellow;
  --fish-primary-color-darker: gold;
  --fish-secondary-color: orange;
  --fish-secondary-color-darker: darkorange;
  --fish-tertiary-color: red;
  --fish-teeth-color: white;
  --fish-eye-color: black;

  --fish-deep: blur(0.5px) brightness(0.9) grayscale(0.1);
  --fish-deeper: blur(2px) brightness(0.75) grayscale(0.3);

  --fish-floating: lekker-drijven 2s infinite ease-in-out alternate;
}

path {
  stroke-width: 0px;
}

svg:not(:has(use)) {
  width: 0;
  height: 0;
}

svg:has(use) {
  position: absolute;
  right: 1rem;
  width: var(--fish-size, 10rem);
  animation: lekker-zwemmen var(--duration, 25s) infinite linear var(--delay)
    paused;

  @media (prefers-reduced-motion: no-preference) {
    animation-play-state: running;
  }

  @media (min-width: 800px) {
    --duration: calc(var(--duration) * 1000);
  }
}

/*
###############
          gewoon een visje
###############
*/

#visje {
  --fish-primary-color: #e5b651;
  --fish-primary-color-darker: #d5a144;
  --fish-secondary-color: #e8dfab;
  /* staart boven */
  > path:first-of-type {
    fill: var(--fish-secondary-color);
  }

  /* staart onder */
  > path:nth-of-type(2) {
    fill: var(--fish-secondary-color);
  }

  /* vin boven */
  > path:nth-of-type(3) {
    fill: var(--fish-secondary-color);
  }

  /* vin onder */
  > path:nth-of-type(4) {
    fill: var(--fish-secondary-color);
  }

  /* lichaam */
  > path:nth-of-type(5) {
    fill: var(--fish-primary-color);
  }

  /* textuurtje */
  > g {
    fill: var(--fish-primary-color-darker);

    > g {
      fill: var(--fish-eye-color);
    }
  }

  /* ijskoud */
  > g:nth-last-child(2) {
    display: none;
    fill: white;
    opacity: 0.2;
  }

  /* regen */
  > g:nth-last-child(1) {
    display: none;
    path {
      &:first-of-type {
        fill: rgb(255, 68, 0);
      }

      &:last-of-type {
        fill: rgb(161, 39, 39);
      }
    }
  }
}

svg:has(use[href='#visje']) {
  --duration: 20s;
  --fish-size: 6rem;
}

svg:nth-child(1 of :has(use[href='#visje'])) {
  --delay: -20s;
  top: calc(var(--ocean-height) - 700vh);
}

svg:nth-child(2 of :has(use[href='#visje'])) {
  --delay: -25s;
  top: calc(var(--ocean-height) - 720vh);
  filter: var(--fish-deep);
}

svg:nth-child(3 of :has(use[href='#visje'])) {
  --delay: -18s;
  top: calc(var(--ocean-height) - 680vh);
  filter: var(--fish-deeper);
}

svg:nth-child(4 of :has(use[href='#visje'])) {
  --delay: -15s;
  top: calc(var(--ocean-height) - 600vh);
}

/*
###############
          tonijn
###############
*/

#tonijn {
  --fish-primary-color: #5487c6;
  --fish-primary-color-darker: #3f659e;
  --fish-secondary-color: #c1e0e6;
  --fish-secondary-color-darker: #81a1ae;
  --fish-tertiary-color: #f4d384;

  /* staart onder */
  > g:first-of-type {
    fill: var(--fish-tertiary-color);
  }

  /* vinnen onder */
  > g:nth-of-type(2) {
    fill: var(--fish-tertiary-color);
  }

  /* staart boven */
  > g:nth-of-type(3) {
    fill: var(--fish-tertiary-color);
  }

  /* staart onder */
  > g:nth-of-type(4) {
    fill: var(--fish-tertiary-color);
  }

  /* lichaam */
  > g:nth-of-type(5) {
    fill: var(--fish-primary-color);

    > g {
      clip-path: url(#clippath);

      > path {
        fill: var(--fish-primary-color-darker);
      }

      > path:first-of-type {
        fill: var(--fish-secondary-color);
      }
    }
  }

  /* textuurtje */
  > g:nth-of-type(6) {
    fill: var(--fish-secondary-color-darker);
  }

  /* oog */
  > g:nth-of-type(7) {
    fill: var(--fish-eye-color);
  }

  /* ijskoud */
  > g:nth-last-child(2) {
    display: none;
    > g {
      fill: red;
      > g {
        clip-path: url(#clippath-1);
        path {
          fill: yellow;
        }
      }
    }
  }

  /* regen */
  > g:nth-last-child(1) {
    display: none;
    path {
      fill: red;

      &:first-of-type {
        fill: purple;
      }
    }
  }
}

svg:has(use[href='#tonijn']) {
  --duration: 30s;
  --delay: -5s;
  --fish-size: 10rem;
  top: calc(var(--ocean-height) - 600vh);
}

svg:nth-child(1 of :has(use[href='#tonijn'])) {
  --delay: -20s;
  top: calc(var(--ocean-height) - 620vh);
}

svg:nth-child(2 of :has(use[href='#tonijn'])) {
  --delay: -30s;
  --fish-size: 8rem;
  top: calc(var(--ocean-height) - 600vh);
}

svg:nth-child(3 of :has(use[href='#tonijn'])) {
  --delay: -26s;
  --fish-size: 9rem;
  top: calc(var(--ocean-height) - 550vh);
  filter: var(--fish-deep);
}

svg:nth-child(4 of :has(use[href='#tonijn'])) {
  --delay: -12s;
  top: calc(var(--ocean-height) - 450vh);
  filter: var(--fish-deeper);
}

/*
###############
          kwal
###############
*/

#kwal {
  --fish-primary-color: #b3c8d0;
  --fish-primary-color-darker: #88a1aa;
  --fish-secondary-color: #a3c9d9;

  /* tentakels */
  > g:first-of-type {
    > path:first-of-type {
      fill: var(--fish-primary-color);
    }

    > path:nth-of-type(2),
    > path:nth-of-type(3) {
      fill: var(--fish-secondary-color);
    }

    > path:nth-of-type(4),
    > path:nth-of-type(5) {
      fill: var(--fish-primary-color-darker);
    }
  }

  /* lichaam */
  > g:nth-of-type(2) {
    > path:first-of-type {
      fill: var(--fish-secondary-color);
    }

    > path:last-of-type {
      fill: var(--fish-secondary-color);
      opacity: 0.7;
    }
  }

  /* ogen */
  > g:nth-of-type(3) {
    fill: var(--fish-eye-color);
  }

  /* hoedje */
  > g:nth-of-type(4) {
    fill: url(#radial-gradient);
  }

  /* ijskoud */
  > g:nth-last-child(1) {
    display: none;
    fill: var(--snow-color);
    opacity: 0.2;
  }

  /* regen */
  > g:nth-last-child(2) {
    display: none;
    > g {
      fill: red;
      > g {
        clip-path: url(#clippath-1);
        fill: orange;
      }
    }
  }
}

svg:has(use[href='#kwal']) {
  --fish-size: 13rem;
  animation: var(--fish-floating);
  right: var(--float-position);
}

svg:nth-child(1 of :has(use[href='#kwal'])) {
  --float-position: 15vw;

  top: calc(var(--ocean-height) - 300vh);
  filter: var(--fish-deeper);
}

svg:nth-child(2 of :has(use[href='#kwal'])) {
  --float-position: 75vw;

  top: calc(var(--ocean-height) - 500vh);
}

svg:nth-child(3 of :has(use[href='#kwal'])) {
  --float-position: 40vw;

  top: calc(var(--ocean-height) - 450vh);
}

svg:nth-child(4 of :has(use[href='#kwal'])) {
  --float-position: 0vw;

  top: calc(var(--ocean-height) - 400vh);
  filter: var(--fish-deep);
}

/*
###############
          shark
###############
*/

#haaitje {
  --fish-primary-color: #949a9a;
  --fish-secondary-color: #bbbfbf;
  --fish-teeth-color: #fff;

  /* tandjes */
  > g:first-of-type {
    fill: var(--fish-teeth-color);
  }

  /* lichaam */
  > g:nth-of-type(2) {
    > path {
      fill: var(--fish-primary-color);
    }
    > g {
      clip-path: url(#clippath-1);

      > path {
        fill: var(--fish-secondary-color);
      }
    }
  }

  /* vin */
  > g:nth-of-type(3) {
    fill: var(--fish-primary-color);
    filter: drop-shadow(0 0.5rem 0.25rem hsla(0, 0%, 0%, var(--shadow-p)));
    transform-origin: center;
    animation: shark-fin 2.5s infinite alternate ease-in-out;
  }

  /* staart */
  > g:nth-of-type(4) {
    fill: var(--fish-primary-color);
    transform-origin: center;
    animation: shark-tail 1.5s infinite alternate ease-in-out;
  }

  /* oog */
  > g:nth-of-type(5) {
    fill: var(--fish-eye-color);
  }

  /* regen */
  > g:nth-last-child(2) {
    display: none;
    > g {
      > g {
        clip-path: url(#clippath-2);

        fill: red;
      }
    }
  }

  /* ijskoud */
  > g:nth-last-child(1) {
    display: none;
    path {
      &:first-of-type {
        fill: red;
      }

      &:last-of-type {
        fill: green;
      }
    }
  }
}

svg:has(use[href='#haaitje']) {
  --duration: 22s;
  --fish-size: 23rem;
}

svg:nth-child(1 of :has(use[href='#haaitje'])) {
  --delay: -12s;
  top: calc(var(--ocean-height) - 200vh);
  filter: var(--fish-deeper);
}

svg:nth-child(2 of :has(use[href='#haaitje'])) {
  --delay: -18s;
  top: calc(var(--ocean-height) - 420vh);
  filter: var(--fish-deep);
}

svg:nth-child(3 of :has(use[href='#haaitje'])) {
  --delay: -22s;
  top: calc(var(--ocean-height) - 500vh);
}

svg:nth-child(4 of :has(use[href='#haaitje'])) {
  --delay: -27s;
  top: calc(var(--ocean-height) - 350vh);
}

/*
###############
         turtle
###############
*/
#turtle {
  --fish-primary-color: #55ab45;
  --fish-primary-color-darker: #3a8d35;
  --fish-secondary-color: #b3cd9a;
  --fish-secondary-color-darker: #a3bf86;

  /* vin achter */
  > g:first-of-type {
    animation: schildpad-vin-achter 2s infinite alternate ease-in-out;
    transform-origin: center;

    > g {
      fill: var(--fish-secondary-color);

      > g {
        clip-path: url(#clippath);

        > g {
          fill: var(--fish-secondary-color-darker);
        }
      }
    }
  }

  /* hoofd */
  > g:nth-of-type(2) {
    > g {
      fill: var(--fish-secondary-color);

      > g {
        clip-path: url(#clippath-1);

        > path {
          fill: var(--fish-secondary-color-darker);
        }
      }
    }
  }

  /* oog */
  > g:nth-of-type(3) {
    path {
      fill: var(--fish-eye-color);
    }
  }

  /* mond */
  > g:nth-of-type(4) {
    path {
      fill: var(--fish-eye-color);
    }
  }

  /* schild */
  > g:nth-of-type(5) {
    > g {
      fill: var(--fish-primary-color-darker);

      > g {
        clip-path: url(#clippath-2);

        > g {
          fill: var(--fish-primary-color);
        }
      }
    }
  }

  /* vin voor */
  > g:nth-of-type(6) {
    animation: schildpad-vin-voor 2s infinite alternate ease-in-out;
    transform-origin: center;

    > g {
      fill: var(--fish-secondary-color);

      > g {
        clip-path: url(#clippath-3);

        > g {
          fill: var(--fish-secondary-color-darker);
        }
      }
    }
  }

  /* ijskoud */
  > g:nth-last-child(1) {
    display: none;
    path {
      fill: orange;
      &:nth-of-type(3) {
        fill: red;
      }
    }
  }

  /* regen */
  > g:nth-last-child(2) {
    display: none;
    > path {
      fill: black;
    }
    > g {
      fill: white;
      > g {
        clip-path: url(#clippath-4);
        fill: black;
      }
    }
  }
}

svg:has(use[href='#turtle']) {
  --duration: 25s;
  --delay: -21s;
  --fish-size: 15rem;
}

svg:nth-child(1 of :has(use[href='#turtle'])) {
  --delay: -12s;
  top: calc(var(--ocean-height) - 650vh);
}

svg:nth-child(2 of :has(use[href='#turtle'])) {
  --delay: -18s;
  top: calc(var(--ocean-height) - 550vh);
}

svg:nth-child(3 of :has(use[href='#turtle'])) {
  --delay: -5s;
  top: calc(var(--ocean-height) - 450vh);
  filter: var(--fish-deep);
}

svg:nth-child(4 of :has(use[href='#turtle'])) {
  --delay: -14s;
  top: calc(var(--ocean-height) - 500vh);
  filter: var(--fish-deeper);
}

/*
###############
          plankton
###############
*/
#plankton {
  --fish-primary-color: #d6c5b5;
  --fish-primary-color-darker: #1d1d1b;
  --fish-secondary-color: white;

  /* lichaam */
  > g:first-of-type {
    fill: url(#radial-gradient);
  }

  /* binnenkant */
  > g:nth-of-type(2) {
    fill: var(--fish-primary-color-darker);
    opacity: 0.5;
  }

  /* sprietjes boven */
  > g:nth-of-type(3) {
    fill: var(--fish-primary-color);
  }

  /* sprietjes zijkant */
  > g:nth-of-type(4) {
    fill: var(--fish-primary-color);
  }

  /* oog */

  > g:nth-of-type(5) {
    fill: var(--fish-secondary-color);

    > g {
      path:first-of-type {
        fill: var(--fish-eye-color);
      }
    }
  }
}

svg:has(use[href='#plankton']) {
  --fish-size: 7rem;
  animation: var(--fish-floating);
  right: var(--float-position);
}

svg:nth-child(1 of :has(use[href='#plankton'])) {
  --float-position: 40vw;
  top: calc(var(--ocean-height) - 300vh);
}

svg:nth-child(2 of :has(use[href='#plankton'])) {
  --float-position: 19vw;
  top: calc(var(--ocean-height) - 200vh);
}

svg:nth-child(3 of :has(use[href='#plankton'])) {
  --float-position: 65vw;
  top: calc(var(--ocean-height) - 100vh);
  filter: var(--fish-deeper);
}

svg:nth-child(4 of :has(use[href='#plankton'])) {
  --float-position: 50vw;
  top: calc(var(--ocean-height) - 50vh);
  filter: var(--fish-deep);
}

/*
###############
          anglerfish
###############
*/

#anglerfish {
  --fish-primary-color: hsl(30, 43%, 30%);
  --fish-primary-color-darker: hsl(31, 45%, 24%);
  --fish-secondary-color: hsl(51, 50%, 77%);
  --fish-teeth-color: #d8c6a4;

  /* tanden */
  > g:first-of-type {
    > path {
      fill: var(--fish-teeth-color);
    }
  }

  /* staart */
  > g:nth-of-type(2) {
    fill: var(--fish-secondary-color);
  }

  /* lichaam */
  > g:nth-of-type(3) {
    fill: var(--fish-primary-color);
  }

  /* stokje */
  > g:nth-of-type(4) {
    fill: var(--fish-primary-color);
  }

  /* lampje */
  > g:nth-of-type(5) {
    fill: var(--fish-secondary-color);

    > path {
      animation: gloeien 1s infinite alternate;
    }
  }

  /* vin */
  > g:nth-of-type(6) {
    > path {
      fill: var(--fish-primary-color-darker);
    }

    > g {
      clip-path: url(#clippath);

      > path {
        fill: var(--fish-secondary-color);
      }
    }
  }

  /* oog */
  > g:nth-of-type(7) {
    fill: var(--fish-eye-color);
  }

  /* winter state */
  > g:nth-of-type(8) {
    display: none;

    > path:first-of-type {
      fill: pink;
    }

    > path:nth-of-type(2) {
      fill: #f09;
    }

    > path:nth-of-type(3) {
      fill: #f09;
    }
  }

  /* regen state */
  > g:nth-of-type(9) {
    display: none;

    > path:first-of-type {
      fill: yellow;
    }

    > path:nth-of-type(2) {
      fill: gold;
    }

    > path:nth-of-type(3) {
      fill: yellow;
    }
  }
}

svg:has(use[href='#anglerfish']) {
  --duration: 20s;
}

svg:nth-child(1 of :has(use[href='#anglerfish'])) {
  --delay: -22s;
  --fish-size: 10rem;
  top: calc(var(--ocean-height) - 50vh);
}

svg:nth-child(2 of :has(use[href='#anglerfish'])) {
  --delay: -25s;
  --fish-size: 8rem;
  top: calc(var(--ocean-height) - 70vh);
  filter: var(--fish-deep);
}

svg:nth-child(3 of :has(use[href='#anglerfish'])) {
  --delay: -16s;
  --fish-size: 6rem;
  top: calc(var(--ocean-height) - 20vh);
  filter: var(--fish-deep);
}

svg:nth-child(4 of :has(use[href='#anglerfish'])) {
  --delay: -16s;
  --fish-size: 9rem;
  top: calc(var(--ocean-height) - 120vh);
}
