:root {
  --fish-teeth-color: white;
  --fish-eye-color: black;

  --fish-deep: blur(0.5px) brightness(0.9) grayscale(0.1);
  --fish-deeper: blur(2px) brightness(0.75) grayscale(0.3);

  --fish-floating: lekker-drijven 2s infinite ease-in-out alternate;
}

path {
  stroke-width: 0px;
}

svg:not(:has(use)) {
  width: 0;
  height: 0;
}

svg:has(use) {
  position: absolute;
  right: 1rem;
  width: var(--fish-size, 10rem);
  animation: lekker-zwemmen var(--duration, 25s) infinite linear var(--delay)
    paused;

  @media (prefers-reduced-motion: no-preference) {
    animation-play-state: running;
  }
}

/*
###############
          gewoon een visje
###############
*/

#visje {
  --fpc-default: #e5b651;
  --fpcd-default: #d5a144;
  --fsc-default: #e8dfab;
  --rpc-default: white;
  --ipc-default: #ff4400;
  --isc-default: #a12727;

  --fish-primary-color: var(--fpc, var(--fpc-default));
  --fish-primary-color-darker: var(--fpcd, var(--fpcd-default));
  --fish-secondary-color: var(--fsc, var(--fsc-default));
  --rain-primary-color: var(--rpc, var(--rpc-default));
  --ice-primary-color: var(--ipc, var(--ipc-default));
  --ice-secondary-color: var(--isc, var(--isc-default));

  /* staart boven */
  > path:first-of-type {
    fill: var(--fish-secondary-color);
    animation: visje-staart 2s infinite ease-in-out alternate;
    transform-origin: bottom;
  }

  /* staart onder */
  > path:nth-of-type(2) {
    fill: var(--fish-secondary-color);
    animation: visje-staart 2s infinite ease-in-out alternate-reverse;
    transform-origin: right;
  }

  /* vin boven */
  > path:nth-of-type(3) {
    fill: var(--fish-secondary-color);
    animation: visje-vin 2s infinite ease-in-out alternate;
    transform-origin: center bottom;
  }

  /* vin onder */
  > path:nth-of-type(4) {
    fill: var(--fish-secondary-color);
    animation: visje-vin 2s infinite ease-in-out alternate;
    transform-origin: center top;
  }

  /* lichaam */
  > path:nth-of-type(5) {
    fill: var(--fish-primary-color);
  }

  /* textuurtje */
  > g {
    fill: var(--fish-primary-color-darker);

    > g {
      fill: var(--fish-eye-color);
    }
  }

  /* regen */
  > g:nth-last-child(2) {
    display: none;
    fill: var(--rain-primary-color);
    opacity: 0.2;
  }

  /* ijskoud */
  > g:nth-last-child(1) {
    display: none;
    path {
      &:first-of-type {
        fill: var(--ice-primary-color);
      }

      &:last-of-type {
        fill: var(--ice-secondary-color);
      }
    }
  }
}

svg:has(use[href='#visje']) {
  --duration: 20s;
  --fish-size: 6rem;

  @media (min-width: 800px) {
    --duration: 40s;
  }
}

svg:nth-child(1 of :has(use[href='#visje'])) {
  --delay: -25s;
  top: 80vh;
}

svg:nth-child(2 of :has(use[href='#visje'])) {
  --delay: -20s;
  --fpc: indianred;
  --fpcd: firebrick;
  --fsc: darkslategrey;
  --ipc: gold;
  --isc: ivory;
  top: 100vh;
  filter: var(--fish-deep);
}

svg:nth-child(3 of :has(use[href='#visje'])) {
  --delay: -18s;
  --fpc: darkorange;
  --fpcd: chocolate;
  --fsc: darkslategrey;
  --ipc: darkred;
  --isc: crimson;
  top: 120vh;
  filter: var(--fish-deeper);
}

svg:nth-child(4 of :has(use[href='#visje'])) {
  --delay: -15s;
  --fpc: darkorchid;
  --fpcd: darkslateblue;
  --fsc: palegoldenrod;
  --ipc: gold;
  --isc: ivory;
  top: 200vh;
}

/*
###############
          tonijn
###############
*/

#tonijn {
  --fpc-default: #5487c6;
  --fpcd-default: #3f659e;
  --fsc-default: #c1e0e6;
  --fscd-default: #81a1ae;
  --ftc-default: #f4d384;
  --rpc-default: rgb(179, 113, 0);
  --rsc-default: rgb(217, 159, 0);
  --ipc-default: rgb(19, 145, 14);
  --isc-default: rgb(90, 183, 69);

  --fish-primary-color: var(--fpc, var(--fpc-default));
  --fish-primary-color-darker: var(--fpcd, var(--fpcd-default));
  --fish-secondary-color: var(--fsc, var(--fsc-default));
  --fish-secondary-color-darker: var(--fscd, var(--fscd-default));
  --fish-tertiary-color: var(--ftc, var(--ftc-default));
  --rain-primary-color: var(--rpc, var(--rpc-default));
  --rain-secondary-color: var(--rsc, var(--rsc-default));
  --ice-primary-color: var(--ipc, var(--ipc-default));
  --ice-secondary-color: var(--isc, var(--isc-default));

  /* staart onder */
  > g:first-of-type {
    fill: var(--fish-tertiary-color);
  }

  /* vinnen onder */
  > g:nth-of-type(2) {
    fill: var(--fish-tertiary-color);
  }

  /* staart boven */
  > g:nth-of-type(3) {
    fill: var(--fish-tertiary-color);
  }

  /* staart onder */
  > g:nth-of-type(4) {
    fill: var(--fish-tertiary-color);
  }

  /* lichaam */
  > g:nth-of-type(5) {
    fill: var(--fish-primary-color);

    > g {
      clip-path: url(#clippath);

      > path {
        fill: var(--fish-primary-color-darker);
      }

      > path:first-of-type {
        fill: var(--fish-secondary-color);
      }
    }
  }

  /* textuurtje */
  > g:nth-of-type(6) {
    fill: var(--fish-secondary-color-darker);
  }

  /* oog */
  > g:nth-of-type(7) {
    fill: var(--fish-eye-color);
  }

  /* regen */
  > g:nth-last-child(2) {
    display: none;
    > g {
      fill: var(--rain-primary-color);
      > g {
        clip-path: url(#clippath-1);
        path {
          fill: var(--rain-secondary-color);
        }
      }
    }
  }

  /* ijskoud */
  > g:nth-last-child(1) {
    display: none;
    path {
      fill: var(--ice-primary-color);

      &:first-of-type {
        fill: var(--ice-secondary-color);
      }
    }
  }
}

svg:has(use[href='#tonijn']) {
  --duration: 30s;
  --delay: -5s;
  --fish-size: 10rem;

  @media (min-width: 800px) {
    --duration: 60s;
  }
}

svg:nth-child(1 of :has(use[href='#tonijn'])) {
  --delay: -20s;
  top: 180vh;
}

svg:nth-child(2 of :has(use[href='#tonijn'])) {
  --delay: -30s;
  --fish-size: 8rem;
  --fpc: rebeccapurple;
  --fpcd: slateblue;
  --fsc: plum;
  --fscd: pink;
  --ftc: wheat;
  --rpc: blue;
  --rsc: royalblue;
  --ipc: salmon;
  --isc: darksalmon;
  top: 200vh;
}

svg:nth-child(3 of :has(use[href='#tonijn'])) {
  --delay: -26s;
  --fish-size: 9rem;
  --fpc: #335f99;
  --fpcd: #81a3cb;
  --fsc: #ffffff;
  --fscd: #afdedd;
  --ftc: #b67600;
  --rpc: #535394;
  --rsc: #4f629c;
  --ipc: #860d00;
  --isc: #765144;
  top: 250vh;
  filter: var(--fish-deep);
}

svg:nth-child(4 of :has(use[href='#tonijn'])) {
  --delay: -12s;
  --fpc: #0c3061;
  --fpcd: #28507d;
  --fsc: #9e9e9e;
  --fscd: #409f9e;
  --ftc: #b67600;
  --rpc: #535394;
  --rsc: #4f9c4f;
  --ipc: #8d3d35;
  --isc: #764473;
  top: 350vh;
  filter: var(--fish-deeper);
}

/*
###############
          kwal
###############
*/

#kwal {
  --fpc-default: #b3c8d0;
  --fpcd-default: #88a1aa;
  --fsc-default: #a3c9d9;
  --rpc-default: rgb(162, 2, 2);
  --ipc-default: white;

  --fish-primary-color: var(--fpc, var(--fpc-default));
  --fish-primary-color-darker: var(--fpcd, var(--fpcd-default));
  --fish-secondary-color: var(--fsc, var(--fsc-default));
  --rain-primary-color: var(--rpc, var(--rpc-default));
  --ice-primary-color: var(--ipc, var(--ipc-default));

  /* tentakels */
  > g:first-of-type {
    > path:first-of-type {
      fill: var(--fish-primary-color);
    }

    > path:nth-of-type(2),
    > path:nth-of-type(3) {
      fill: var(--fish-secondary-color);
    }

    > path:nth-of-type(4),
    > path:nth-of-type(5) {
      fill: var(--fish-primary-color-darker);
    }
  }

  /* lichaam */
  > g:nth-of-type(2) {
    > path:first-of-type {
      fill: var(--fish-secondary-color);
    }

    > path:last-of-type {
      fill: var(--fish-secondary-color);
      opacity: 0.7;
    }
  }

  /* ogen */
  > g:nth-of-type(3) {
    fill: var(--fish-eye-color);
  }

  /* hoedje */
  > g:nth-of-type(4) {
    fill: url(#radial-gradient);
  }

  /* ijskoud */
  > g:nth-last-child(1) {
    display: none;
    fill: var(--ice-primary-color);
    opacity: 0.2;
  }

  /* regen */
  > g:nth-last-child(2) {
    display: none;
    > g {
      > path {
        fill: var(--rain-primary-color);
      }

      > g {
        clip-path: url(#clippath-1);

        > path {
          fill: var(--rain-secondary-color);
        }
      }
    }
  }
}

svg:has(use[href='#kwal']) {
  --fish-size: 13rem;
  animation: var(--fish-floating);
  right: var(--float-position);
}

svg:nth-child(1 of :has(use[href='#kwal'])) {
  --float-position: 15vw;
  top: 500vh;
  filter: var(--fish-deeper);
}

svg:nth-child(2 of :has(use[href='#kwal'])) {
  --float-position: 75vw;
  --fpc: #79df2b;
  --fpcd: #d0d0d0;
  --fsc: #cce7f2;
  --rpc: #eeb950;
  top: 300vh;
}

svg:nth-child(3 of :has(use[href='#kwal'])) {
  --float-position: 40vw;
  --fpc: #8ecee5;
  --fpcd: #56b3d0;
  --fsc: #e9d6c5;
  --rpc: #62ee50;
  top: 350vh;
}

svg:nth-child(4 of :has(use[href='#kwal'])) {
  --float-position: 0vw;
  --fpc: #ff0000;
  --fpcd: #ff0000;
  --fsc: #92b1fb;
  --rpc: #505dee;
  top: 400vh;
  filter: var(--fish-deep);
}

/*
###############
          shark
###############
*/

#haaitje {
  --fpc-default: #949a9a;
  --fsc-default: #bbbfbf;
  --rpc-default: steelblue;
  --rsc-default: palevioletred;
  --ipc-default: rgb(130, 48, 168);
  --isc-default: rgb(108, 35, 142);
  --fish-primary-color: var(--fpc, var(--fpc-default));
  --fish-secondary-color: var(--fsc, var(--fsc-default));
  --rain-primary-color: var(--rpc, var(--rpc-default));
  --rain-secondary-color: var(--rsc, var(--rsc-default));
  --ice-primary-color: var(--ipc, var(--ipc-default));
  --ice-secondary-color: var(--isc, var(--isc-default));

  /* tandjes */
  > g:first-of-type {
    fill: var(--fish-teeth-color);
  }

  /* lichaam */
  > g:nth-of-type(2) {
    > path {
      fill: var(--fish-primary-color);
    }
    > g {
      clip-path: url(#clippath-1);

      > path {
        fill: var(--fish-secondary-color);
      }
    }
  }

  /* vin */
  > g:nth-of-type(3) {
    fill: var(--fish-primary-color);
    filter: drop-shadow(0 0.5rem 0.25rem hsla(0, 0%, 0%, var(--shadow-p)));
    transform-origin: center;
    animation: shark-fin 2.5s infinite alternate ease-in-out;
  }

  /* staart */
  > g:nth-of-type(4) {
    fill: var(--fish-primary-color);
    transform-origin: center;
    animation: shark-tail 1.5s infinite alternate ease-in-out;
  }

  /* oog */
  > g:nth-of-type(5) {
    fill: var(--fish-eye-color);
  }

  /* regen */
  > g:nth-last-child(2) {
    display: none;
    > g {
      fill: var(--rain-primary-color);
      > g {
        clip-path: url(#clippath-2);

        fill: var(--rain-secondary-color);
      }
    }
  }

  /* ijskoud */
  > g:nth-last-child(1) {
    display: none;
    path {
      &:first-of-type {
        fill: var(--ice-primary-color);
      }

      &:last-of-type {
        fill: var(--ice-secondary-color);
      }
    }
  }
}

svg:has(use[href='#haaitje']) {
  --duration: 22s;
  --fish-size: 23rem;

  @media (min-width: 800px) {
    --duration: 44s;
  }
}

svg:nth-child(1 of :has(use[href='#haaitje'])) {
  --delay: -12s;
  top: 600vh;
  filter: var(--fish-deeper);
}

svg:nth-child(2 of :has(use[href='#haaitje'])) {
  --delay: -18s;
  --fpc: #6597ae;
  --fsc: #89b1c5;
  --rpc: #46b4a0;
  --rsc: #8cd870;
  --ipc: #a83030;
  --isc: #8e2323;
  top: 380vh;
  filter: var(--fish-deep);
}

svg:nth-child(3 of :has(use[href='#haaitje'])) {
  --delay: -22s;
  --fpc: #5f7777;
  --fsc: #7da8a8;
  --rpc: rgb(125, 70, 180);
  --rsc: rgb(124, 112, 216);
  --ipc: rgb(255, 241, 132);
  --isc: rgb(255, 197, 62);
  top: 300vh;
}

svg:nth-child(4 of :has(use[href='#haaitje'])) {
  --delay: -27s;
  --fpc: #5f6263;
  --fsc: #878e8e;
  --rpc: rgb(125, 112, 85);
  --rsc: rgb(164, 131, 142);
  --ipc: rgb(109, 89, 180);
  --isc: rgb(78, 44, 94);
  top: 450vh;
}

/*
###############
         turtle
###############
*/
#turtle {
  --fpc-default: #55ab45;
  --fpcd-default: #3a8d35;
  --fsc-default: #b3cd9a;
  --fscd-default: #a3bf86;
  --rpc-default: orangered;
  --rsc-default: salmon;
  --ipc-default: #936310;
  --isc-default: #936310;
  --fish-primary-color: var(--fpc, var(--fpc-default));
  --fish-primary-color-darker: var(--fpcd, var(--fpcd-default));
  --fish-secondary-color: var(--fsc, var(--fsc-default));
  --fish-secondary-color-darker: var(--fscd, var(--fscd-default));
  --rain-primary-color: var(--rpc, var(--rpc-default));
  --rain-secondary-color: var(--rsc, var(--rsc-default));
  --ice-primary-color: var(--ipc, var(--ipc-default));
  --ice-secondary-color: var(--isc, var(--isc-default));

  /* vin achter */
  > g:first-of-type {
    animation: schildpad-vin-achter 2s infinite alternate ease-in-out;
    transform-origin: center;

    > g {
      fill: var(--fish-secondary-color);

      > g {
        > g {
          fill: var(--fish-secondary-color-darker);
        }
      }
    }
  }

  /* hoofd */
  > g:nth-of-type(2) {
    animation: schildpad-hoofdje 2s infinite alternate ease-in-out;

    > g {
      fill: var(--fish-secondary-color);

      > g {
        path {
          fill: var(--fish-secondary-color-darker);
        }
      }
    }
  }

  /* oog */
  > g:nth-of-type(3) {
    path {
      fill: var(--fish-eye-color);
    }
  }

  /* mond */
  > g:nth-of-type(4) {
    path {
      fill: var(--fish-eye-color);
    }
  }

  /* schild */
  > g:nth-of-type(5) {
    > g {
      fill: var(--fish-primary-color-darker);

      > g {
        fill: var(--fish-primary-color);
        transform: translateY(1rem);
      }
    }
  }

  /* vin voor */
  > g:nth-of-type(6) {
    animation: schildpad-vin-voor 2s infinite alternate ease-in-out;
    transform-origin: center;

    > g {
      fill: var(--fish-secondary-color);

      > g {
        clip-path: url(#clippath-3);

        > g {
          fill: var(--fish-secondary-color-darker);
        }
      }
    }
  }

  /* ijskoud */
  > g:nth-last-child(1) {
    display: none;
    path {
      fill: var(--ice-primary-color);
      &:nth-of-type(3) {
        fill: rgb(72, 45, 11);
      }
    }
  }

  /* regen */
  > g:nth-last-child(2) {
    display: none;
    > path {
      fill: black;
    }
    > g {
      fill: var(--rain-primary-color);
      > g {
        clip-path: url(#clippath-4);
        fill: var(--rain-secondary-color);
      }
    }
  }
}

svg:has(use[href='#turtle']) {
  --duration: 25s;
  --delay: -21s;
  --fish-size: 15rem;

  @media (min-width: 800px) {
    --duration: 50s;
  }
}

svg:nth-child(1 of :has(use[href='#turtle'])) {
  --delay: -12s;
  top: 150vh;
}

svg:nth-child(2 of :has(use[href='#turtle'])) {
  --delay: -18s;
  --fpc: #3f9031;
  --fpcd: #20601c;
  --fsc: #a0cd9a;
  --fscd: #6fad6f;
  --rpc: #d9896d;
  --rsc: #d7b99c;
  --ipc: #6b4d1b;
  --isc: #000000;
  top: 250vh;
}

svg:nth-child(3 of :has(use[href='#turtle'])) {
  --delay: -5s;
  --fpc: #558d4b;
  --fpcd: #1d451a;
  --fsc: #badcb6;
  --fscd: #a3c5a3;
  --rpc: #6d9fd9;
  --rsc: #6372d7;
  --ipc: #7c6744;
  --isc: #3d2c14;
  top: 350vh;
  filter: var(--fish-deep);
}

svg:nth-child(4 of :has(use[href='#turtle'])) {
  --delay: -14s;
  --rpc: #a16dd9;
  --rsc: #8863d7;
  --ipc: #7a6c53;
  --isc: #392f21;
  top: 300vh;
  filter: var(--fish-deeper);
}

/*
###############
          plankton
###############
*/
#plankton {
  --fpc-default: #d6c5b5;
  --fpcd-default: #1d1d1b;
  --fsc-default: white;
  --fish-primary-color: var(--fpc, var(--fpc-default));
  --fish-primary-color-darker: var(--fpcd, var(--fpcd-default));
  --fish-secondary-color: var(--fsc, var(--fsc-default));
  --rain-primary-color: var(--rpc, var(--rpc-default));
  --rain-secondary-color: var(--rsc, var(--rsc-default));
  --ice-primary-color: var(--ipc, var(--ipc-default));
  --ice-secondary-color: var(--isc, var(--isc-default));

  /* lichaam */
  > g:first-of-type {
    fill: url(#radial-gradient);
  }

  /* binnenkant */
  > g:nth-of-type(2) {
    fill: var(--fish-primary-color-darker);
    opacity: 0.5;
  }

  /* sprietjes boven */
  > g:nth-of-type(3) {
    fill: var(--fish-primary-color);
  }

  /* sprietjes zijkant */
  > g:nth-of-type(4) {
    fill: var(--fish-primary-color);
  }

  /* oog */

  > g:nth-of-type(5) {
    fill: var(--fish-secondary-color);

    > g {
      path:first-of-type {
        fill: var(--fish-eye-color);
      }
    }
  }
}

svg:has(use[href='#plankton']) {
  --fish-size: 7rem;
  animation: var(--fish-floating);
  right: var(--float-position);
}

svg:nth-child(1 of :has(use[href='#plankton'])) {
  --float-position: 40vw;
  top: 500vh;
}

svg:nth-child(2 of :has(use[href='#plankton'])) {
  --float-position: 19vw;
  top: 600vh;
}

svg:nth-child(3 of :has(use[href='#plankton'])) {
  --float-position: 65vw;
  top: 700vh;
  filter: var(--fish-deeper);
}

svg:nth-child(4 of :has(use[href='#plankton'])) {
  --float-position: 50vw;
  top: 750vh;
  filter: var(--fish-deep);
}

/*
###############
          anglerfish
###############
*/

#anglerfish {
  --fpc-default: #6d4d2c;
  --fpcd-default: #593e22;
  --fsc-default: #e2d9a7;
  --fish-teeth-color: #d8c6a4;
  --rpc-default: yellow;
  --rsc-default: gold;
  --ipc-default: pink;
  --isc-default: #f09;
  --fish-primary-color: var(--fpc, var(--fpc-default));
  --fish-primary-color-darker: var(--fpcd, var(--fpcd-default));
  --fish-secondary-color: var(--fsc, var(--fsc-default));
  --rain-primary-color: var(--rpc, var(--rpc-default));
  --rain-secondary-color: var(--rsc, var(--rsc-default));
  --ice-primary-color: var(--ipc, var(--ipc-default));
  --ice-secondary-color: var(--isc, var(--isc-default));

  /* tanden */
  > g:first-of-type {
    > path {
      fill: var(--fish-teeth-color);
    }
  }

  /* staart */
  > g:nth-of-type(2) {
    fill: var(--fish-secondary-color);
  }

  /* lichaam */
  > g:nth-of-type(3) {
    fill: var(--fish-primary-color);
  }

  /* stokje */
  > g:nth-of-type(4) {
    fill: var(--fish-primary-color);
  }

  /* lampje */
  > g:nth-of-type(5) {
    fill: var(--fish-secondary-color);

    > path {
      animation: gloeien 1s infinite alternate;
    }
  }

  /* vin */
  > g:nth-of-type(6) {
    > path {
      fill: var(--fish-primary-color-darker);
    }

    > g {
      clip-path: url(#clippath);

      > path {
        fill: var(--fish-secondary-color);
      }
    }
  }

  /* oog */
  > g:nth-of-type(7) {
    fill: var(--fish-eye-color);
  }

  /* winter state */
  > g:nth-of-type(8) {
    display: none;

    > path:first-of-type {
      fill: var(--ice-primary-color);
    }

    > path:nth-of-type(2) {
      fill: var(--ice-secondary-color);
    }

    > path:nth-of-type(3) {
      fill: var(--ice-secondary-color);
    }
  }

  /* regen state */
  > g:nth-of-type(9) {
    display: none;

    > path:first-of-type {
      fill: var(--rain-primary-color);
    }

    > path:nth-of-type(2) {
      fill: var(--rain-secondary-color);
    }

    > path:nth-of-type(3) {
      fill: var(--rain-primary-color);
    }
  }
}

svg:has(use[href='#anglerfish']) {
  --duration: 20s;

  @media (min-width: 800px) {
    --duration: 40s;
  }
}

svg:nth-child(1 of :has(use[href='#anglerfish'])) {
  --delay: -22s;
  --fish-size: 10rem;
  top: 750vh;
}

svg:nth-child(2 of :has(use[href='#anglerfish'])) {
  --delay: -25s;
  --fish-size: 8rem;
  --fpc: #523a22;
  --fpcd: #392815;
  --fsc: #ebd971;
  --rpc: #ffe100;
  --rsc: #e8b600;
  --ipc: #ffa3b3;
  --isc: #9300b4;
  top: 730vh;
  filter: var(--fish-deep);
}

svg:nth-child(3 of :has(use[href='#anglerfish'])) {
  --delay: -16s;
  --fish-size: 6rem;
  --fpc: #44311d;
  --fpcd: #302110;
  --fsc: #ddd6af;
  --rpc: #008e42;
  --rsc: #19793c;
  --ipc: #ffeda3;
  --isc: #510f0f;
  top: 780vh;
  filter: var(--fish-deep);
}

svg:nth-child(4 of :has(use[href='#anglerfish'])) {
  --delay: -16s;
  --fish-size: 9rem;
  --fpc: #44311d;
  --fpcd: #302110;
  --fsc: #ddd6af;
  --rpc: #005f8e;
  --rsc: #196179;
  --ipc: #a3ffeb;
  --isc: #0f4151;
  top: 680vh;
}
