main {
  /* oceaan kleurtje */
  background: linear-gradient(
    in okLCH,
    var(--ocean-top-color) 0 10%,
    color-mix(in okLCH, var(--ocean-color), black 10%) 50%,
    color-mix(in okLCH, var(--ocean-color), black 50%),
    black 80%
  );
  height: var(--ocean-height);

  /* cirkeltjes onder boot */
  /* gejat van https://codepen.io/shooft/pen/WNWoRQv?editors=1100 */
  > div:nth-of-type(3) {
    transform: translateY(46vh) translateX(-5vw);
    display: grid;
    place-items: start center;

    @media (min-width: 600px) {
      transform: translateY(46vh) translateX(0);
    }

    span {
      animation: golfjes 15s infinite linear;
      width: 36rem;
      aspect-ratio: 36/6;
      background-image: repeating-radial-gradient(
        in oklch,
        color-mix(in oklch, var(--ocean-top-color), black 40%) calc(100% - 3rem),
        color-mix(in oklch, var(--ocean-top-color), transparent 75%) 100%
      );
      background-position: center;
      background-repeat: no-repeat;
      mask: radial-gradient(farthest-side, red, #f003 35%, #f000);
    }
  }

  > div:last-of-type {
    /* zee sneeuw!!!!!!!!! */
    s {
      width: 0.1rem;
      top: calc(var(--ocean-height) - 40vh);
      filter: var(--snow-filter);
      animation: marine-snow 9s infinite linear paused;

      @media (prefers-reduced-motion: no-preference) {
        animation-play-state: running;
      }

      &:nth-of-type(2) {
        animation-delay: -3s;
      }

      &:nth-of-type(3) {
        animation-delay: -6s;
      }
    }
  }
}
