@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

main > div:last-of-type {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    circle at 100% in oklch,
    var(--ocean-color),
    black
  );
  transform: translateZ(100rem);
  z-index: 2000;
  top: 0;
  position: fixed;
  transform-style: preserve-3d;
  animation: ga-weg 1s linear forwards 15s;

  @media (min-width: 800px) {
    animation-delay: 22s;
  }

  p {
    --initial-delay: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: 'Changa';
    text-transform: uppercase;
    font-size: 2rem;
    animation: hollywood 10s forwards ease-out;
    transform: translateZ(1rem);

    @media (min-width: 800px) {
      font-size: 3rem;
    }

    span {
      --start-delay: var(--initial-delay);
      animation: opacity-ani 2s var(--start-delay) both;
    }

    span:nth-of-type(2) {
      --start-delay: calc(var(--initial-delay) * 2);
    }

    span:nth-of-type(3) {
      --start-delay: calc(var(--initial-delay) * 3);
    }

    span:nth-of-type(4) {
      --start-delay: calc(var(--initial-delay) * 4);
    }

    span:nth-of-type(5) {
      --start-delay: calc(var(--initial-delay) * 5);
    }

    span:nth-of-type(6) {
      --start-delay: calc(var(--initial-delay) * 6);
    }

    span:nth-of-type(7) {
      --start-delay: calc(var(--initial-delay) * 7);
    }
  }

  > div:first-of-type {
    filter: url(#blobby_2);

    > div {
      position: absolute;
      height: 60vh;
      width: 100vw;
      top: 15vh;

      span {
        position: absolute;
        aspect-ratio: 1;
        background-image: radial-gradient(
          circle at center bottom in oklch,
          var(--ocean-color) 25%,
          var(--ocean-color-dark) 50%,
          black
        );
        background-attachment: fixed;
        background-size: 100% 100%;
        width: var(--width);
        left: -10rem;
        animation: blobby-bubbles var(--duration) forwards var(--delay) linear;

        &:nth-of-type(odd) {
          border-radius: 47% 53% 36% 64% / 53% 52% 48% 47%;
        }

        &:nth-of-type(even) {
          border-radius: 33% 67% 60% 40% / 53% 41% 59% 47%;
        }

        &:first-of-type {
          --width: var(--width-default);
          --delay: calc(var(--delay-default) * 0.1);
          --duration: calc(var(--duration-default) * 1.3);
          top: 0;
        }

        &:nth-of-type(2) {
          --width: calc(var(--width-default) * 1.2);
          --delay: calc(var(--delay-default) * 2);
          --duration: calc(var(--duration-default) * 1);
          top: 10%;
        }

        &:nth-of-type(3) {
          --width: calc(var(--width-default) * 0.9);
          --delay: calc(var(--delay-default) * 3);
          --duration: calc(var(--duration-default) * 0.7);
          top: 20%;
        }

        &:nth-of-type(4) {
          --width: calc(var(--width-default) * 1.1);
          --delay: calc(var(--delay-default) * 1.5);
          --duration: calc(var(--duration-default) * 1.2);
          top: 30%;
        }

        &:nth-of-type(5) {
          --width: calc(var(--width-default) * 1.05);
          --delay: calc(var(--delay-default) * 2.4);
          --duration: calc(var(--duration-default) * 0.6);
          top: 40%;
        }

        &:nth-of-type(6) {
          --width: calc(var(--width-default) * 0.95);
          --delay: calc(var(--delay-default) * 2.3);
          --duration: calc(var(--duration-default) * 1);
          top: 50%;
        }

        &:nth-of-type(7) {
          --width: calc(var(--width-default) * 0.8);
          --delay: calc(var(--delay-default) * 0.5);
          --duration: calc(var(--duration-default) * 1.3);
          top: 60%;
        }

        &:nth-of-type(8) {
          --width: calc(var(--width-default) * 1.1);
          --delay: calc(var(--delay-default) * 1.2);
          --duration: calc(var(--duration-default) * 1.2);
          top: 70%;
        }

        &:nth-of-type(9) {
          --width: calc(var(--width-default) * 1.1);
          --delay: calc(var(--delay-default) * 2.4);
          --duration: calc(var(--duration-default) * 0.8);
          top: 80%;
        }

        &:nth-of-type(10) {
          --width: calc(var(--width-default) * 1.1);
          --delay: calc(var(--delay-default) * 1);
          --duration: calc(var(--duration-default) * 1);
          top: 90%;
        }
      }

      &:first-of-type {
        span {
          --width-default: 6rem;
          --duration-default: 10s;
          --delay-default: 2s;

          @media (min-width: 800px) {
            --width-default: 7rem;
            --duration-default: 20s;
          }
        }
      }

      &:nth-of-type(2) {
        span {
          --width-default: 5rem;
          --duration-default: 8s;
          --delay-default: 5s;

          @media (min-width: 800px) {
            --width-default: 6rem;
            --duration-default: 16s;
          }
        }
      }
    }
  }
}
