body:has(input[value='bliksem']:checked) {
  --lucht-color: #1f2438;

  main {
    /* lucht */
    > div:first-of-type {
      > span:first-of-type {
        --sun-color: #f4fcff;

        k {
          opacity: 1;
        }
      }

      > span:nth-of-type(2),
      > span:nth-of-type(3) {
        --cloud-color: var(--thunder-cloud-color);
        transform: translateY(0) scale(0.9);

        @media (min-width: 600px) {
          transform: translateY(0) scale(1.1);
        }

        @media (min-width: 800px) {
          transform: translateY(0) scale(1.4);
        }

        l {
          opacity: 1;
        }
      }
    }
    /* bootje */
    > div:nth-of-type(2) {
      filter: brightness(0.6) hue-rotate(10deg);
    }

    @media (min-width: 800px) {
      /* knop */
      nav form > div > div > div:nth-of-type(2) {
        background: radial-gradient(
          var(--lucht-color),
          color-mix(in okLCH, var(--lucht-color), black 50%)
        );
        animation: knopje-gloeit 1s infinite ease-in-out alternate paused;

        @media (prefers-reduced-motion: no-preference) {
          animation-play-state: running;
        }

        & b {
          transform: scaleY(1);
        }
      }
    }

    svg:has(use) {
      filter: invert(70%) drop-shadow(0 0 0.5rem white);
      mix-blend-mode: lighten;
    }
  }
}
