body:has(input[value='bliksem']:checked) {
  --lucht-color: #1f2438;

  main {
    background: radial-gradient(
        circle at top in okLCH,
        color-mix(in okLCH, var(--ocean-top-color), white 50%),
        transparent 10%
      ),
      linear-gradient(
        to right in okLCH,
        hsla(0, 0%, 0%, 0.8),
        transparent,
        hsla(0, 0%, 0%, 0.8)
      ),
      linear-gradient(
        in okLCH,
        color-mix(in okLCH, var(--ocean-top-color), black 20%) 0 10%,
        color-mix(in okLCH, var(--ocean-color), black 40%) 50%,
        color-mix(in okLCH, var(--ocean-color), black 70%),
        black 80%
      );

    &::after {
      content: '';
      position: absolute;
      background-color: white;
      filter: blur(30px);
      aspect-ratio: 1;
      border-radius: 50%;
      opacity: 0.3;
      top: 27vh;
      transform: rotateX(80deg);
      width: 25rem;
      left: calc(50% - 12.5rem);
    }

    /* lucht */
    > div:first-of-type {
      > span:first-of-type {
        --sun-color: #f4fcff;

        k {
          opacity: 1;
        }
      }

      > span:nth-of-type(2),
      > span:nth-of-type(3) {
        --cloud-color: var(--thunder-cloud-color);
        transform: translateY(0) scale(0.9);

        @media (min-width: 600px) {
          transform: translateY(0) scale(1.1);
        }

        @media (min-width: 800px) {
          transform: translateY(0) scale(1.4);
        }

        l {
          opacity: 1;
        }
      }
    }
    /* bootje */
    > div:nth-of-type(2) {
      filter: brightness(0.6) hue-rotate(10deg);
    }

    @media (min-width: 800px) {
      /* knop */
      nav form > div > div > div:nth-of-type(2) {
        background: radial-gradient(
          var(--lucht-color),
          color-mix(in okLCH, var(--lucht-color), black 50%)
        );
        animation: knopje-gloeit 1s infinite ease-in-out alternate paused;

        @media (prefers-reduced-motion: no-preference) {
          animation-play-state: running;
        }

        & b {
          transform: scaleY(1);
        }
      }
    }

    svg:has(use) {
      filter: invert(70%) drop-shadow(0 0 0.5rem white);
      mix-blend-mode: lighten;
    }
  }
}
