body:has(input[value='ijskoud']:checked) {
  --lucht-color: #64aec1;

  main {
    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 200vh;
      top: 40vh;
      background-image: radial-gradient(
        circle at top in okLCH,
        color-mix(in okLCH, var(--lucht-color), red 0%),
        color-mix(in okLCH, var(--lucht-color), red 25%) 5rem,
        color-mix(in okLCH, var(--lucht-color), red 40%) 10rem,
        transparent 40%
      );
      opacity: 0.7;
      background-size: 100% 50%;
      background-position: top;
      background-repeat: no-repeat;
    }

    &::after {
      content: '';
      position: absolute;
      background-color: white;
      filter: blur(20px);
      aspect-ratio: 1;
      border-radius: 50%;
      opacity: 0.5;
      top: 55vh;
      transform: rotateX(50deg);
      width: 10rem;
      left: calc(50% - 5rem);
    }

    /* lucht */
    > div:first-of-type {
      animation:
        stralen1 103s infinite linear,
        stralen2 111s infinite linear;

      background-image: radial-gradient(
          circle in okLCH,
          color-mix(in okLCH, var(--lucht-color), red 10%),
          color-mix(in okLCH, var(--lucht-color), red 20%) 4rem,
          color-mix(in okLCH, var(--lucht-color), red 35%) 6rem,
          transparent 50%
        ),
        repeating-conic-gradient(
          from var(--angle1, 13deg) in okLCH,
          color-mix(in okLCH, var(--ocean-color-dark), transparent 70%) 0deg,
          #fff0,
          color-mix(in okLCH, var(--ocean-color-dark), transparent 70%) 30deg
        ),
        repeating-conic-gradient(
          from var(--angle2, 37deg) at bottom in oklch,
          #9f93 0deg,
          #fff0,
          #9f93 60deg
        ),
        linear-gradient(
          90deg in okLCH,
          color-mix(in okLCH, var(--ocean-color), black 20%),
          transparent,
          color-mix(in okLCH, var(--ocean-color), black 20%)
        ),
        radial-gradient(
          circle at bottom in okLCH,
          color-mix(in okLCH, var(--ocean-color), white 30%),
          color-mix(in okLCH, var(--ocean-color), black 0%) 60%
        );

      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;

      > span:first-of-type {
        --sun-color: #ffffff;
        transform: translateY(-33vh);
        scale: 0.6;
      }

      s {
        display: block;
      }
    }

    /* bootje */

    > div:nth-of-type(2) > div {
      > div:first-of-type {
        filter: brightness(1.1)
          drop-shadow(
            0.5rem 0.5rem 0.5rem
              color-mix(
                in okLCH,
                color-mix(in okLCH, var(--lucht-color), hsl(0, 100%, 30%) 50%),
                transparent 50%
              )
          )
          drop-shadow(
            -0.5rem 0.5rem 0.5rem color-mix(in okLCH, color-mix(in okLCH, var(--lucht-color), hsl(
                      0,
                      100%,
                      30%
                    )
                    50%), transparent 50%)
          )
          contrast(90%);

        /* sneeuwpopje */
        > div {
          position: relative;
          height: 6rem;
          aspect-ratio: 1/2.5;
          left: 2rem;
          bottom: -3.5rem;
          transform-style: preserve-3d;

          > span {
            background-color: white;
            position: absolute;
            border-radius: 50%;
            aspect-ratio: 1;
          }

          > span:first-of-type {
            width: 80%;
            left: 10%;
            top: 0.5rem;

            /* hoed */
            > span:first-of-type {
              position: absolute;
              width: 110%;
              height: 2rem;
              left: -2.5%;
              top: -1.5rem;
              rotate: 5deg;

              &::before,
              &::after {
                content: '';
                position: absolute;
              }

              &::before {
                width: 100%;
                height: 0.1rem;
                bottom: 0;
                border-radius: 1rem;
                background-color: black;
              }

              &::after {
                height: calc(100% - 0.05rem);
                width: 82%;
                left: 11%;
                border-radius: 0.1rem 0.1rem 0 0;
                background-image: radial-gradient(
                  circle at top left in oklch,
                  var(--lucht-color),
                  black
                );
              }
            }

            /* oogjes */
            > span:nth-of-type(2) {
              position: absolute;
              width: 55%;
              left: 10%;
              top: 0.75rem;
              aspect-ratio: 3 / 1;

              &::before,
              &::after {
                content: '';
                position: absolute;
                background: radial-gradient(
                  circle at 20%,
                  white 0 15%,
                  black 15% 100%
                );
                border-radius: 50%;
                aspect-ratio: 1;
                width: 0.3rem;
                rotate: 40deg;
              }

              &::after {
                right: 0;
              }
            }

            /* wortel */
            > span:nth-of-type(3) {
              position: absolute;
              width: 2.5rem;
              aspect-ratio: 1;
              background: conic-gradient(
                transparent 20%,
                orange 20% 25%,
                transparent 25%
              );
              top: 0.2rem;
              left: -1.8rem;

              &::before {
                content: '';
                position: absolute;
                background-color: orange;
                width: 0.4rem;
                aspect-ratio: 1;
                border-radius: 50%;
                left: 2.3rem;
                top: 0.83rem;
              }
            }
          }

          > span:nth-of-type(2) {
            width: 90%;
            left: 5%;
            bottom: 1.8rem;
            z-index: 500;
            transform-style: preserve-3d;

            > span:first-of-type,
            > span:nth-of-type(2) {
              position: absolute;
              top: 0.5rem;
              filter: url('#blobby');

              div {
                --arm-color: rgb(86, 49, 22);
                width: 5px;
                height: 5px;
                background-color: var(--arm-color);
                border-radius: 50%;
                animation: schwing 1s alternate infinite ease-in-out;
              }
            }

            > span:first-of-type {
              left: 1.1rem;
              transform: translateZ(5rem);
            }

            > span:nth-of-type(2) {
              left: 0.5rem;
              top: 0.3rem;
              rotate: 20deg;
              transform: translateZ(-5rem);

              div {
                animation-direction: alternate-reverse;
              }
            }
          }

          > span:nth-of-type(3) {
            width: 100%;
            bottom: 0;
            transform: translateZ(1rem);
          }
        }
      }
    }

    #anglerfish {
      > g:nth-of-type(8) {
        display: block;
      }
    }

    @media (min-width: 800px) {
      /* knop */
      nav form > div > div > div:nth-of-type(3) {
        background-color: #e08aff;
        animation: ijs-knopje-gloeit 2s infinite ease-in-out alternate paused;

        @media (prefers-reduced-motion: no-preference) {
          animation-play-state: running;
        }
      }
    }

    #visje,
    #turtle,
    #haaitje,
    #kwal,
    #tonijn {
      g:nth-last-child(1) {
        display: block;
      }
    }
  }
}
