body:has(input[value='regen']:checked) {
  main {
    /* lucht */
    > div:first-of-type {
      --lucht-color: #2e3c47;

      /* zonnetje */
      > span:first-of-type {
        transform: translateY(50vh);
      }

      /* wolkjes */

      > span:nth-of-type(2),
      > span:nth-of-type(3) {
        transform: translateY(0);
      }

      > span:nth-of-type(4),
      > span:nth-of-type(5),
      > span:nth-of-type(6) {
        display: block;
      }
    }

    /* bootje */
    > div:nth-of-type(2) {
      filter: brightness(0.8) hue-rotate(10deg);
    }

    #anglerfish {
      > g:nth-of-type(9) {
        display: block;
      }
    }

    @media (min-width: 800px) {
      /* knop */
      nav form > div > div > div:first-of-type {
        filter: brightness(1.1);
        animation: knopje-gloeit 1s infinite ease-in-out alternate paused;

        @media (prefers-reduced-motion: no-preference) {
          animation-play-state: running;
        }

        span {
          span {
            animation: bubbel-knop var(--duration, 6s) infinite linear
              var(--delay, -2s) paused;

            @media (prefers-reduced-motion: no-preference) {
              animation-play-state: running;
            }
          }

          span:first-of-type {
            --duration: 10s;
            --delay: 0s;
          }

          span:nth-of-type(2) {
            --duration: 6s;
            --delay: -1s;
          }

          span:nth-of-type(3) {
            --duration: 8s;
            --delay: 0s;
          }

          span:nth-of-type(4) {
            --duration: 4s;
            --delay: -0.5s;
          }

          span:nth-of-type(5) {
            --duration: 10s;
            --delay: -1s;
          }
        }
      }
    }

    #visje,
    #turtle,
    #haaitje,
    #kwal,
    #tonijn {
      g:nth-last-child(2) {
        display: block;
      }
    }
  }
}
