@property --angle1 {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@property --angle2 {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

body:has(input[value='zonnig']:checked) {
  main {
    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 200vh;
      top: 40vh;
      background-image: radial-gradient(
        circle at top in okLCH,
        color-mix(in okLCH, var(--lucht-color), red 0%),
        color-mix(in okLCH, var(--lucht-color), red 15%) 5rem,
        color-mix(in okLCH, var(--lucht-color), red 30%) 10rem,
        transparent 40%
      );
      opacity: 0.7;
      background-size: 100% 50%;
      background-position: top;
      background-repeat: no-repeat;
    }

    > div:first-of-type {
      animation:
        stralen1 103s infinite linear,
        stralen2 111s infinite linear;

      background-image: radial-gradient(
          circle at bottom in okLCH,
          color-mix(in okLCH, var(--lucht-color), red 0%),
          color-mix(in okLCH, var(--lucht-color), red 15%) 8rem,
          color-mix(in okLCH, var(--lucht-color), red 30%) 10rem,
          transparent 75%
        ),
        repeating-conic-gradient(
          from var(--angle1, 13deg) at bottom in okLCH,
          color-mix(in okLCH, var(--ocean-color-dark), transparent 70%) 0deg,
          #fff0,
          color-mix(in okLCH, var(--ocean-color-dark), transparent 70%) 30deg
        ),
        repeating-conic-gradient(
          from var(--angle2, 37deg) at bottom in okLCH,
          #9f93 0deg,
          #fff0,
          #9f93 60deg
        ),
        linear-gradient(
          90deg in okLCH,
          color-mix(in okLCH, var(--ocean-color), black 20%),
          transparent,
          color-mix(in okLCH, var(--ocean-color), black 20%)
        ),
        radial-gradient(
          circle at bottom in okLCH,
          color-mix(in okLCH, var(--ocean-color), white 30%),
          color-mix(in okLCH, var(--ocean-color), black 0%) 60%
        );

      background-size: 100%;
      background-position: top;
      background-repeat: no-repeat;

      > span:first-of-type {
        transform: translateY(8vh);
        scale: 0.8;
      }
    }
    @media (min-width: 800px) {
      /* knop */
      nav form > div > div > div:nth-of-type(4) {
        animation: knopje-gloeit 1s infinite ease-in-out alternate paused;

        @media (prefers-reduced-motion: no-preference) {
          animation-play-state: running;
        }

        > span {
          box-shadow: 0 0.5rem 1rem #ffffd3;
          filter: grayscale(0);
        }
      }
    }
  }
}
