@keyframes sky-moving {
  0% {
    --p: 10%;
  }

  100% {
    --p: 40%;
  }
}

@keyframes bubblebutton {
  0% {
    transform: translateY(10rem);
  }

  100% {
    transform: translateY(-10rem);
  }
}
