@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}

/* lucht */

main > div:first-of-type {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 50vh;
  background: radial-gradient(
    in okLCH,
    var(--lucht-light-color) var(--p),
    var(--lucht-dark-color)
  );
  background-size: 150% 150%;
  background-position: top center;
  z-index: 50;
  animation: bewegende-lucht 5s infinite alternate ease-in-out;

  /* zonnetje */
  > span:first-of-type {
    width: 20rem;
    position: absolute;
    height: 20rem;
    border-radius: 50%;
    background-color: var(--sun-color);
    bottom: -7.5rem;
    left: calc(50% - 10rem);
    animation: zon-gloeien 3s infinite ease-in-out alternate;
    transition: var(--transition-slower);

    k {
      position: absolute;
      width: 2rem;
      aspect-ratio: 1 / 1.2;
      border-radius: 40% 60% 63% 37% / 53% 31% 69% 47%;
      background-color: #e4edf1;
      box-shadow:
        inset -0.25rem 0.1rem 0 #d8e2e6,
        inset 0.1rem 0.25rem 0 #d8e2e6;
      opacity: 0;
      transition: var(--transition-base);

      &::before,
      &::after {
        content: '';
        position: absolute;
        aspect-ratio: inherit;
        background-color: inherit;
        border-radius: 38% 62% 37% 63% / 73% 53% 47% 27%;
        box-shadow: inherit;
      }

      &:first-of-type {
        left: 5rem;
        top: 3rem;

        &::before {
          width: 3rem;
          left: 7rem;
          top: 5rem;
        }

        &::after {
          width: 1.5rem;
          left: 2rem;
          top: 5rem;
        }
      }

      &:nth-of-type(2) {
        width: 3rem;
        left: 9rem;
        top: 3rem;
        filter: brightness(0.9);
        rotate: 20deg;

        &::before {
          width: 1.5rem;
          left: 9rem;
          top: 5rem;
        }

        &::after {
          width: 2rem;
          left: 1rem;
          top: 8rem;
        }
      }

      &:nth-of-type(3) {
        width: 2.3rem;
        left: 2rem;
        top: 8rem;
        filter: brightness(0.95);

        &::before {
          width: 1rem;
          left: 12rem;
          top: -2rem;
        }

        &::after {
          width: 1.25rem;
          left: 1rem;
          top: -2rem;
        }
      }
    }
  }

  /* wolkjes */
  > span:nth-of-type(2),
  > span:nth-of-type(3) {
    width: 12rem;
    aspect-ratio: 3/1;
    background: var(--cloud-color);
    position: absolute;
    border-radius: 50%;
    transform: translateY(30rem);
    transform-style: preserve-3d;

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--transition-slower);
    }

    &::before,
    &::after {
      aspect-ratio: 2/1;
      position: absolute;
      border-radius: 50%;
      transition: var(--transition-slower);
    }

    &::before {
      content: '';
      bottom: -4vh;
      left: 1.25rem;
      width: 5rem;
      background: var(--cloud-color);
      box-shadow:
        -1.25rem -1.25rem 0 var(--cloud-color),
        2.5rem -2.5rem 0 var(--cloud-color),
        4rem -0.75rem 0 var(--cloud-color);
    }

    &::after {
      content: '';
      top: -1.25rem;
      right: 1.25rem;
      width: 6rem;
      background: var(--cloud-color);
      box-shadow:
        2rem 2rem 0 var(--cloud-color),
        -4rem -1.25rem 0 var(--cloud-color),
        -7rem 0.75rem 0 var(--cloud-color);
    }

    /* bliksem */

    l {
      background-color: var(--electricity-color);
      width: 0.2rem;
      height: 3rem;
      top: 8rem;
      opacity: 0;
      position: absolute;
      animation: bliksem 2s infinite paused;

      @media (prefers-reduced-motion: no-preference) {
        animation-play-state: running;
        transition: var(--transition-slower);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: inherit;
        background-color: var(--electricity-color);
        animation: bliksem 2s infinite paused;

        @media (prefers-reduced-motion: no-preference) {
          animation-play-state: running;
        }
      }

      &::before {
        height: 4rem;
        top: 2.6rem;
        left: 1.3rem;
        rotate: -40deg;
      }

      &::after {
        height: 2.3rem;
        top: -2.1rem;
        left: -0.6rem;
        rotate: -30deg;
      }

      &:first-of-type {
        left: 5rem;
        transform: scaleY(2) rotate(-10deg) translateY(1rem) translateZ(-1rem);
      }

      &:nth-of-type(2) {
        left: 3rem;
        transform: rotate(20deg) translateZ(-1rem);
        animation-delay: -0.5s;
      }

      &:nth-of-type(3) {
        left: 8rem;
        top: 6rem;
        transform: rotate(20deg) translateZ(-1rem) skewY(30deg);
        animation-delay: -1.25s;
      }
    }
  }

  > span:nth-of-type(2) {
    left: 10vw;
    top: 10vh;
  }

  > span:nth-of-type(3) {
    right: 10vw;
    top: 25vh;
  }

  /* regen! */

  > span:nth-of-type(4),
  > span:nth-of-type(5),
  > span:nth-of-type(6) {
    position: absolute;
    width: 0.1rem;
    background-color: var(--rain-color);
    aspect-ratio: 1 / 10;
    border-radius: 100% 100% 50% 50%;
    z-index: 100;
    top: -5vh;
    display: none;
  }

  > span:nth-of-type(4) {
    left: 2vw;

    box-shadow:
      21vw 10vh var(--rain-color),
      20vw 20vh var(--rain-color),
      30vw 30vh var(--rain-color),
      15vw 35vh var(--rain-color),
      22vw 48vh var(--rain-color),
      40vw 30vh var(--rain-color),
      50vw 40vh var(--rain-color),
      60vw 25vh var(--rain-color),
      70vw 20vh var(--rain-color),
      85vw 35vh var(--rain-color),
      90vw 40vh var(--rain-color),
      87vw 27vh var(--rain-color),
      20vw 45vh var(--rain-color),
      10vw 36vh var(--rain-color),
      35vw 24vh var(--rain-color),
      15vw 14vh var(--rain-color),
      10vw 10vh var(--rain-color);

    filter: drop-shadow(5vw 5vh 0 var(--rain-color))
      drop-shadow(-6vw -10vh 0 var(--rain-color));
    animation: regenen 2s infinite linear paused;

    @media (prefers-reduced-motion: no-preference) {
      animation-play-state: running;
    }
  }

  > span:nth-of-type(5) {
    left: 10vw;

    box-shadow:
      10vw 13vh var(--rain-color),
      24vw 22vh var(--rain-color),
      18vw 28vh var(--rain-color),
      53vw 39vh var(--rain-color),
      29vw 42vh var(--rain-color),
      47vw 32vh var(--rain-color),
      56vw 30vh var(--rain-color),
      67vw 22vh var(--rain-color),
      74vw 18vh var(--rain-color),
      82vw 46vh var(--rain-color),
      98vw 12vh var(--rain-color),
      88vw 33vh var(--rain-color),
      17vw 42vh var(--rain-color),
      7vw 37vh var(--rain-color),
      30vw 27vh var(--rain-color),
      17vw 19vh var(--rain-color),
      13vw 15vh var(--rain-color);

    filter: brightness(0.8) blur(0.5px) drop-shadow(5vw 5vh 0 var(--rain-color))
      drop-shadow(-6vw -10vh 0 var(--rain-color));
    animation: regenen 2s infinite -3s linear paused;

    @media (prefers-reduced-motion: no-preference) {
      animation-play-state: running;
    }
  }

  /* sneeuw!!!!!!!!! */
  s {
    display: none;
    width: 0.2rem;
    top: 0;
    animation: regenen 4s infinite linear var(--delay, -0.5s) paused;

    @media (prefers-reduced-motion: no-preference) {
      animation-play-state: running;
    }

    &:nth-of-type(2) {
      --delay: -1.5s;
    }

    &:nth-of-type(3) {
      --delay: -3s;
    }
  }
}
