* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --control-panel-bg-color: #5a4539;
  --steampunk-button-primary-color: #e4c092;
  --steampunk-button-secondary-color: #3f2005;

  --ocean-color: #276abb;
  --ocean-color-darker: #003d87;
  --ocean-color-dark: #002655;

  --boat-primary-color: #b42020;
  --boat-secondary-color: #ffffff;
  --boat-tertiary-color: rgb(119, 133, 148);

  --water-color: #3e81c9;
  --bubble-color: #d4f4ff69;

  --electricity-color: #fff5b3;

  --metal-color: #9f9f9f;
  --metal-color-lighter: #b5b5b5;
  --metal-color-darker: #606060;

  --shadow-color-base: #00000080;
  --transition-base: 0.5s ease-out;
  --transition-slower: 1s ease-out;
}

h1,
h2,
h3,
h4,
p,
li,
button,
label {
  font-family: monospace;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

ul {
  list-style: none;
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

fieldset {
  border: none;
}
