* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --control-panel-bg-color: oklch(41.11% 0.034 51.51);
  --steampunk-button-primary-color: hsl(34, 60%, 73%);
  --steampunk-button-secondary-color: hsl(28, 85%, 13%);

  --ocean-color: hsl(213, 65%, 44%);
  --ocean-top-color: hsl(189, 65%, 44%);
  --ocean-color-dark: hsl(213, 100%, 17%);
  --ocean-height: 800vh;

  --lucht-color: gold;

  --sun-color: oldlace;

  --cloud-color: slategray;
  --thunder-cloud-color: black;

  --rain-color: hsl(208, 100%, 66%);
  --snow-color: white;
  --snow-filter: drop-shadow(5vw 5vh 0.2rem var(--snow-color))
    drop-shadow(-6vw -10vh 0.1rem var(--snow-color));

  --boat-primary-color: crimson;
  --boat-secondary-color: white;
  --boat-tertiary-color: lightsteelblue;

  --water-color: hsl(211, 56%, 52%);
  --bubble-color: hsl(207, 64%, 71%);

  --electricity-color: hsl(52, 100%, 85%);

  --metal-color: hsl(0, 0%, 62%);

  --shadow-color-base: hsla(0, 0%, 0%, 0.5);
  --shadow-p: 80%;

  --low-opacity: 0.2;

  --transition-base: 0.5s ease-out;
  --transition-slower: 1s ease-out;
}

html,
body,
main {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  left: 0;
}

h1,
h2,
h3,
h4,
p,
li,
button,
label {
  font-family: monospace;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

ul {
  list-style: none;
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

fieldset {
  border: none;
}

body > svg {
  display: none;
}

s {
  position: absolute;
  background-color: var(--snow-color);
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 100;
  border-radius: 50% 45% 60% 40% / 45% 30% 65% 55%;
  filter: var(--snow-filter);

  &:first-of-type {
    box-shadow:
      5vw 10vh var(--snow-color),
      6vw 2vh var(--snow-color),
      10vw 30vh var(--snow-color),
      15vw 40vh var(--snow-color),
      20vw 48vh var(--snow-color),
      15vw 30vh var(--snow-color),
      25vw 20vh var(--snow-color),
      30vw 15vh var(--snow-color),
      35vw 25vh var(--snow-color),
      40vw 5vh var(--snow-color),
      45vw 35vh var(--snow-color),
      50vw 12vh var(--snow-color),
      18vw 22vh var(--snow-color),
      22vw 8vh var(--snow-color),
      33vw 18vh var(--snow-color),
      38vw 45vh var(--snow-color),
      70vw 40vh var(--snow-color),
      80vw 20vh var(--snow-color),
      90vw 25vh var(--snow-color),
      95vw 10vh var(--snow-color),
      100vw 30vh var(--snow-color);
  }

  &:nth-of-type(2) {
    left: 5rem;
    box-shadow:
      3vw 15vh var(--snow-color),
      8vw 5vh var(--snow-color),
      12vw 35vh var(--snow-color),
      28vw 10vh var(--snow-color),
      40vw 42vh var(--snow-color),
      17vw 28vh var(--snow-color),
      23vw 18vh var(--snow-color),
      32vw 27vh var(--snow-color),
      37vw 12vh var(--snow-color),
      42vw 3vh var(--snow-color),
      50vw 33vh var(--snow-color),
      10vw 20vh var(--snow-color),
      25vw 8vh var(--snow-color),
      34vw 17vh var(--snow-color),
      39vw 45vh var(--snow-color),
      70vw 38vh var(--snow-color),
      80vw 22vh var(--snow-color),
      90vw 29vh var(--snow-color),
      95vw 14vh var(--snow-color),
      99vw 32vh var(--snow-color),
      1vw 1vh var(--snow-color),
      60vw 25vh var(--snow-color);
  }

  &:nth-of-type(3) {
    left: 2rem;
    box-shadow:
      7vw 10vh var(--snow-color),
      13vw 4vh var(--snow-color),
      18vw 25vh var(--snow-color),
      24vw 15vh var(--snow-color),
      32vw 40vh var(--snow-color),
      46vw 20vh var(--snow-color),
      11vw 28vh var(--snow-color),
      26vw 8vh var(--snow-color),
      33vw 35vh var(--snow-color),
      38vw 3vh var(--snow-color),
      43vw 18vh var(--snow-color),
      55vw 32vh var(--snow-color),
      70vw 42vh var(--snow-color),
      85vw 12vh var(--snow-color),
      90vw 27vh var(--snow-color),
      95vw 5vh var(--snow-color),
      20vw 2vh var(--snow-color),
      50vw 22vh var(--snow-color),
      60vw 38vh var(--snow-color),
      80vw 48vh var(--snow-color),
      100vw 49vh var(--snow-color),
      98vw 45vh var(--snow-color),
      96vw 43vh var(--snow-color),
      92vw 47vh var(--snow-color);
  }
}

body:has(input[value='regen']:focus) label:has(input[value='regen']),
body:has(input[value='bliksem']:focus) label:has(input[value='bliksem']),
body:has(input[value='ijskoud']:focus) label:has(input[value='ijskoud']),
body:has(input[value='zonnig']:focus) label:has(input[value='zonnig']),
body:has(input[value='open-en-dicht']:focus)
  label:has(input[value='open-en-dicht']) {
  box-shadow: 0 0 0.25rem var(--sun-color);
  filter: drop-shadow(0 0 0.25rem var(--sun-color));
}

body:has(input[value='regen']:focus) label:has(input[value='regen']),
body:has(input[value='bliksem']:focus) label:has(input[value='bliksem']) {
  > div {
    @media (prefers-reduced-motion: no-preference) {
      animation-play-state: running;
    }
  }
}
body:has(input[value='ijskoud']:focus) label:has(input[value='ijskoud']) {
  div span {
    animation: sneeuwvlokje 2s infinite linear alternate;

    &::before {
      animation: sneeuwvlokje 1.5s infinite linear alternate;
    }

    &::after {
      animation: sneeuwvlokje 0.5s infinite linear alternate;
    }
  }
}

body:has(input[value='zonnig']:focus) label:has(input[value='zonnig']) {
  @media (prefers-reduced-motion: no-preference) {
    > span {
      --zon-animatie-properties: 1s infinite alternate ease-in-out;

      &::before {
        animation: zonnetje-inner-pulse var(--zon-animatie-properties);
      }

      &::after {
        animation: zonnetje-outer-pulse var(--zon-animatie-properties);
      }
    }
  }
}
