* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --control-panel-bg-color: #5a4539;
  --steampunk-button-primary-color: #e4c092;
  --steampunk-button-secondary-color: #3f2005;

  --water-color: #3e81c9;
  --bubble-color: #bdedff;

  --metal-color: #9f9f9f;
  --metal-color-lighter: #b5b5b5;
  --metal-color-darker: #606060;

  --transition-base: 0.5s ease-out;
}

h1,
h2,
h3,
h4,
p,
li,
button,
label {
  font-family: monospace;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

ul {
  list-style: none;
}

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

fieldset {
  border: none;
}

@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}

main > div:first-of-type {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(gold var(--p), chocolate);
  background-size: 150% 150%;
  background-position: top center;
  animation: sky-moving 5s infinite alternate ease-in-out;
}
