body:has(form > div > fieldset input:checked) form > div > div {
  transform: translateX(-30vw);
}

body:has(form > div > fieldset input:checked) form > div > fieldset {
  transform: translateX(-5vw);
}

@media (min-width: 800px) {
  body:has(form > div > fieldset input:checked) form > div > div {
    transform: translateY(33rem);
  }
}

body:has(form > div > fieldset input:checked) form > div > fieldset {
  transform: rotate(-180deg);
}

@media (min-width: 800px) {
  body:has(form > div > fieldset input:checked) form > div > fieldset {
    transform: translateY(55vh);

    label {
      transform: rotate(180deg);
    }
  }
}

@media (min-width: 800px) {
  label:first-of-type:has(input[value='regen']:checked)::before,
  label:nth-of-type(2):has(input[value='bliksem']:checked)::before,
  label:nth-of-type(3):has(input[value='ijskoud']:checked)::before,
  label:nth-of-type(4):has(input[value='zonnig']:checked)::before {
    top: 5.5rem;
  }

  label:first-of-type:has(input[value='regen']:checked)::after,
  label:nth-of-type(2):has(input[value='bliksem']:checked)::after,
  label:nth-of-type(3):has(input[value='ijskoud']:checked)::after,
  label:nth-of-type(4):has(input[value='zonnig']:checked)::after {
    top: 6.8rem;
  }
}
